<div class="col-lg-12">
    <div class="well bs-component">
        <div id="wrap">
            <div class="big_col">
                <div class="big_img">
                    <img class="backdrop" src="http://image.tmdb.org/t/p/w1280{{movie.backdrop_path}}" alt="">
                </div>
            </div>
            <div class="medium_col visible-lg-block">
                <div class="medium_img">
                    <img class="backdrop visible-lg-block" src="http://image.tmdb.org/t/p/w1280{{movie.backdrops[1].file_path}}" alt="">
                    <img class="backdrop visible-lg-block" src="http://image.tmdb.org/t/p/w1280{{movie.backdrops[2].file_path}}" alt="">
                </div>
            </div>

            <div class="title_detail">
                <p class="vertical_align">{{movie.title}}</p>
            </div>
        </div>
        <div class="container-blank">
            <div class="page-header">
                <h1>Info</h1>
            </div>
            Overview: {{movie.overview}} <br/>
            Genre: <span ng-repeat="genre in movie.genres" class="label label-primary">{{genre.name}}</span> <br/>
            Home page: <a href="{{movie.homepage}}"> {{movie.homepage}} {{movie.results[0].key}}</a> <br/>
            <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/v/{{movie.results[0].key}}"></iframe>
            </div>-->
            {{movie.results[0].key}}
            <youtube-video video-id="theBestVideo"></youtube-video>
        </div>


</div>
