<div class="col-lg-12">


        <form method="post" action="" class="form-horizontal" ng-submit="movie.search(filters)">
            <div class="col-lg-12">
                <h2>Upcoming</h2>
            </div>
            <div class="row">

                <div class="col-md-4" ng-repeat="movie in movie.results">
                    <div class="bs-component">
                        <div class="list-group">
                            <div class="list-group-item" >
                                <div class="row-picture">
                                    <img class="thumbnail" src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}" alt="">
                                </div>
                                <div class="row-content">
                                    <div class="action-secondary"><i class="icon-material-favorite"></i></div>
                                    <div class="action-third"><i class="icon-material-visibility"></i></div>
                                    <a href="./#/movie/{{movie.id}}"><h4 class="list-group-item-heading">{{movie.title}}</h4></a>
                                    <p class="list-group-item-text">{{movie.release_date}}</p>
                                </div>
                                <div class="list-group-separator"></div>
                            </div>
                        </div>
                        <div id="source-button" class="btn btn-primary btn-xs withripple" style="display: none;">&lt; &gt;<div class="ripple-wrapper"></div></div></div>
                </div>
            </div>

        </form>

</div>